# Ignore Gradle project-specific cache directory
.gradle
gradle

# Ignore Gradle build output directory
build

# Ignore trash
trash

# Ignore eclipse files
.classpath
.project
.settings
bin

# Products
out
